.myclass {
    width : 200px;
}
html {
    background-color: rgb(118, 235, 0);
}
h1 {
    background-color: coral;
    color: darkblue;
}
a {
    text-shadow: 2px 2px 2px rgb(54, 15, 39);
    color: purple; 
    font-size: 30px;
}